spring:
  datasource:
    url: jdbc:mysql://localhost:3306/shopping_mall?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: rootpassword
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

app:
  cors:
    allowed-origins: "http://localhost:5173"

